<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            color: greenyellow;
        }
        h2
        {
            color: rgb(255, 147, 47);
        }
    </style>
</head>
<body>
    <center>
        <h1>this is the second html page of response</h1>

        <h2>Navigatin link</h2>

        <h5><a href="{% url 'app1:app1_fir' %}">here click to go app1</a></h5>
    </center>
</body>
</html>