<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            color: rgb(0, 255, 221);

        }
        h2
        {
            color: rgb(79, 128, 0);
        }
        
    </style>
</head>
<body>
    <center>
        <h1>this is first specific html page return</h1>
        <h2>Navigating links</h2>

        <h4><a href="{% url 'app2:app2_sec' %}">here click go to app2</a></h4>
    </center>
</body>
</html>